@import "./reset";
@import "font-awesome";
.wrapper{
  margin: 0;
  padding: 0;
}

.chat-side{
  width: 300px;
  color: white;
  float: left;
}
@import "side-header";
.chat-main{
  width: calc(100vw - 300px);
  float: left;
 }
@import "main-header";
@import "message";
@import "form";
@import "modules/user";
@import "config/colors";
@import "modules/flash";
@import "modules/group";